<div class="container">
  <h2 class="text-center">
    404
  </h2>

  <p class="lead">Vous êtes perdu ! Faîtes attention au grand méchant loup… Le petit chaperon rouge ne lui a pas suffit. Elle a souffert de malnutrition pendant si longtemps à apporter tout son beurre à sa grand-mère.</p>
</div>
