<div class="container">
    <h2 class="text-center">
        Ajouter un film à votre catalogue
    </h2>

    <form id="form-search" (ngSubmit)="searchMovie(content)" #content="ngForm">
        <label for="search">Chercher un film sur OmdB&nbsp;:&nbsp;</label>
        <input id="search" name="nameMovie" ngModel />

        <button class="btn btn-primary" type="submit">
            <span class="fa fa-search"></span>
        </button>
    </form>
</div>

<div class="d-flex flex-row flex-wrap justify-content-around flex-fill">
    <div class="card fiche" *ngFor="let f of movieSearched; let i=index">
        <div class="card-header">
            <h3 class="text-center">{{ f.name }}</h3>
        </div>

        <img class="card-img-top img-thumbnail poster" src="{{ f.pathPoster }}" alt="Affiche de {{ f.name }}" />

        <div class="card-body">
            <ul>
                <li>Année de sortie&nbsp;: {{ f.year }}</li>
                <li>Type&nbsp;: {{ f.type }}</li>
            </ul>
        </div>

        <div class="card-footer">
            <button class="btn btn-primary" (click)="addMovie(i)">
                <span class="fa fa-plus"></span>
                Ajouter le film à mon catalogue
            </button>
        </div>
    </div>
</div>

<div class="container" *ngIf="movieSearched.length <= 0">
    <p>Aucun résultat à afficher</p>
</div>
