.poster {
  max-width: 200px;

  margin-left: auto;
  margin-right: auto;
}

.fiche {
  width: 25%;
}

#form-search {
  text-align: center;

  margin-bottom: 20px;
}
#form-search > button {
  margin-left: 10px;
}
