<nav class="navbar navbar-expand-sm justify-content-center navbar-dark bg-dark">
  <ul class="navbar-nav display-4">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">
          <span class="fa fa-home"></span>
          Accueil
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/add">
          <span class="fa fa-plus"></span>
          Ajouter
      </a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
