<div class="container">

    <h2 class="text-center">Mes films</h2>

    <p class="text-center" *ngIf="catalogue.movies.length <= 0">Vous n’avez encore ajouté aucun film à votre catalogue.</p>

</div>

<div class="d-flex flex-row flex-wrap justify-content-around flex-fill">
    <div class="card fiche" *ngFor="let f of catalogue.movies; let i=index">
        <div class="card-header">
            <h3 class="text-center">{{ f.name }}</h3>
        </div>

        <img class="card-img-top img-thumbnail poster" src="{{ f.pathPoster }}" alt="Affiche de {{ f.name }}" />

        <div class="card-body">
            <ul>
                <li>Année de sortie&nbsp;: {{ f.year }}</li>
                <li>Durée&nbsp;: {{ f.runtime }}</li>
                <li>Genre&nbsp;: {{f.genre}}</li>
                <li>Type&nbsp;: {{ f.type }}</li>
            </ul>

            <p>{{ f.synopsis }}</p>
        </div>

        <div class="card-footer d-flex justify-content-between">
            <a class="btn btn-primary" href="https://www.imdb.com/title/{{f.imdbID}}/" target="_blank">
                Fiche imdbID
            </a>
            <button class="btn btn-danger" (click)="removeMovie(f.imdbID)">
                <span class="fa fa-trash"></span>
                Retirer le film de mon catalogue
            </button>
        </div>
    </div>
</div>
